.navbar {
  background: rgb(108, 58, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;


  .navbar-brand {
    font-size: 1.5rem;
    .brand-name {
      color: #c1ae7c;
      font-weight: bold;
     }
  }
}
