@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$form-background: #c1ae7c;
$form-text: #fff;
$input-background: #e16f7c;
$input-text: #fff;
$button-background: #dd5e98;
$button-text: #fff;

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: $form-background;
  color: $form-text;
  padding: 20px;
  border-radius: 10px;

  label {
    margin: 10px 0;
  }

  input {
    padding: 10px;
    margin: 5px 0;
    background-color: $input-background;
    color: $input-text;
    border: none;
    border-radius: 5px;
  }

  button {
    margin-top: 15px;
    padding: 10px;
    background-color: $button-background;
    color: $button-text;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background-color: darken($button-background, 10%);
    }
  }
}
