<div class="admin-dashboard">
  <h2>Welcome, Admin!</h2>
  <div class="button-container">
    <button routerLink="/create-team">Create Team</button>
    <button routerLink="/admin/rename-team">Rename Team</button>
    <button routerLink="/admin/delete-team">Delete Team</button>
    <button routerLink="/admin/modify-team">Modify Team</button>
    <button routerLink="/admin/shuffle">Shuffle Engineers/Supervisors</button>
    <button routerLink="/admin/view-engineers">View Engineers</button>
    <button routerLink="/admin/view-teams">View Team Details</button>
    <button routerLink="/admin/filter-list">Filter the List</button>
  </div>
</div>
